body{
    margin: 0;
    padding: 0;
}
.color-fondo {
    background-color: #716040;
}
.fondo-imagen {
    background-image: url(../images/lampara5.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center; ;
}

.slide {
    margin top: 10px;
}
.slide {
    height: 65vh;
}