@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-fondo{
    background-color: $color_fondo;
}
.fondo-imagen{
    background-image: url(../images/lampara5.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: inline-block;
    text-align: center;
    line-height: 3;
    width: 100%;
}
main{
    min-height: 100vh;
    width: 100%;
}
.img-fondo {
    height: 100vh;
}
.img-resolucion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 200px;
}
.img-carrousel{
    width: 200px;
    height: 500px;
}


